{
    "touched": "to be replaced",
    "untouched": "untouched",
    "test": {
        "touched": "to be replaced",
        "untouched": "untouched",
        "test": {
            "touched": "to be replaced",
            "untouched": "untouched"
        }
    }
}
